<h2>Recipes list</h2>

<%= link_to "New Recipe", new_recipe_path, class: "new-recipe-btn" %>

<ul>
  <% @recipes.each do |recipe| %>
    <li class="recipe-element">
    <div class="title-del">
    <%= link_to recipe.name, recipe_path(recipe), class: "recipe.name" %>
     <%= button_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" }, class: "del-btn", remote: true %>
    </div>
      <p class="description"><%=recipe.description%></p>
    </li>
  <% end %>
</ul>


